<html>
  <head>
    <title>Tax Office Example</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <form>
        <h1>Tax Office Example</h1>
        <div class="form-group">
          <label for="hasBoughtHouse">Did you buy a house in 2010?</label>
          <input type="checkbox" v-model="hasBoughtHouse">
        </div>
        <div class="form-group">
          <label for="hasMaintLoan">Did you enter a loan?</label>
          <input type="checkbox" v-model="hasMaintLoan">
        </div>
        <div class="form-group">
          <label for="hasSoldHouse">Did you sell a house in 2010?</label>
          <input type="checkbox" v-model="hasSoldHouse">
        </div>
        <div class="form-group" v-if="hasSoldHouse">
          <label for="sellingPrice">What was the selling price?</label>
          <input type="number" v-model.number="sellingPrice">
        </div>
        <div class="form-group" v-if="hasSoldHouse">
          <label for="privateDebt">Private debts for the sold house:</label>
          <input type="number" v-model.number="privateDebt">
        </div>
        <div class="form-group" v-if="hasSoldHouse">
          <label for="valueResidue">Value residue:</label>
          <input type="number" v-model.number="valueResidue" readonly>
        </div>
        <div class="form-group">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
    <script>
      new Vue({
        el: '#app',
        data: {
          hasBoughtHouse: false,
          hasMaintLoan: false,
          hasSoldHouse: false,
          sellingPrice: 0,
          privateDebt: 0,
          valueResidue: 0
        },
        computed: {
          valueResidue: function() {
            return this.sellingPrice - this.privateDebt;
          }
        }
      })
    </script>
  </body>
</html>
